
<!--Navbar with properties sticky top, logo, hotel name, links to home page, contact us and book now -->

<nav class="navbar navbar-expand-lg bg-light sticky-top px-4 mb-4 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target = '#Menu' >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Menu">
            <ul class="navbar-nav" style="white-space: nowrap; margin-left: auto;">
                <li class="nav-item" style="margin-right: 8%;" ><a class='nav-link' href= '#'>Home</a></li>
                <li class="nav-item" style="margin-right:8%;"><a class='nav-link' href='#'>About Us</a></li>
                <li class="nav-item" style="margin-left: -1%;"><button type="button"><a href='#' class=nav-link>Book Now</a></button></li>
            </ul>
        </div>
    </div>
</nav>
