<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-color: #FBF5EF;">
{% include 'nav.html' %}

<h1><center>Your Booking Was Successful. Your Room number is {{room_number}}.</center></h1>
<p><center> Further details would be conveyed to you through email. For any queries mail customerhelp@euphovistahotels.com or contact +91 7907829915</center></p>